html,body {
    background-color: #202020;
}

header {
    background-color: rgb(0, 153, 255);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
}

#button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 153, 255);
    border: none;
    color: white;
    width: 200px;
    height: 200px;
    font-size: 30pt;
    border-radius: 100%;
    font-weight: bolder;
    z-index: 999;
    cursor: pointer;
}

#count {
    position: relative;
    top: 10px;
    left: 20px;
    border: none;
    height: 30px;
    width: 150px;
    background: none;
    border-bottom: 1px solid white;
    font-size: 14pt;
    color: white;
    outline: none;
}

#win {
    position: relative;
    left: 50px;
    top: 10px;
    border: none;
    height: 30px;
    width: 50px;
    background: none;
    border-bottom: 1px solid white;
    font-size: 12pt;
    color: white;
    outline: none;
}

#loss {
    position: relative;
    left: 50px;
    top: 10px;
    border: none;
    height: 30px;
    width: 50px;
    background: none;
    border-bottom: 1px solid white;
    font-size: 12pt;
    color: white;
    outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
}

#span {
    position: absolute;
    width: 100%;
    height: 30px;
    left: 0;
    background-color: #101010;
    bottom: 0%;
}

#span2 {
    position: absolute;
    width: 0;
    height: 30px;
    left: 0;
    background-color: rgb(0, 153, 255);
    bottom: 0%;
}

#percent {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 75pt;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-input-placeholder { /* Webkit */
    color: rgb(0, 69, 116);
}
  
 :-moz-placeholder { /* Firefox 18-4 */
    color: rgb(0, 69, 116);  
}
  
 ::-moz-placeholder {  /* Firefox 19+ */
    color: rgb(0, 69, 116);  
}
  
 :-ms-input-placeholder {  /*  IE10+  */
    color: rgb(0, 69, 116);  
}